.calendar {
  width: 95%;
  margin: 0 auto;
  .days-of-week,
  .days-of-month {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .day-block {
      flex-basis: 100%;
      text-align: center;
      box-sizing: border-box;
      margin-bottom: $day-block-gutter;
    }
  }
  .days-of-week {
    margin-bottom: 1em;
    display: none;
    .day-block {
      height: 30px;
      background: $main-color;
      color: $white;
      text-transform: uppercase;
      font-size: 0.8em;
      letter-spacing: 0.1em;
      line-height: 30px;
    }
  }
  .days-of-month {
    .day-block,
    .day-block-inner {
      background: $gray-light;
      display: flex;
      min-height: $day-number-size * 2;
      flex-basis: 100%;
      &:nth-of-type(even) {
        background: darken($gray-light, 10%);
      }
      .number {
        color: $white;
        background: $main-color;
        display: block;
        height: 100%;
        width: $day-number-size * 2;
        font-size: 1em;
        line-height: $day-number-size * 2;
      }
    }
  }
  @media #{$breakpoint} {
    width: $calendar-width;
    .days-of-week,
    .days-of-month {
      display: flex;
      .day-block,
      .day-block-inner {
        justify-content: flex-end;
        flex-basis: $day-block-width;
        outline: $day-block-gutter solid white;
        outline-offset: -$day-block-gutter;
        margin-bottom: 0;
        .number {
          font-size: 0.8em;
          margin: $day-block-gutter;
          width: $day-number-size;
          height: $day-number-size;
          line-height: $day-number-size;
        }
      }
      @include slugs;
    }
    .days-of-month {
      .day-block,
      .day-block-inner {
        &:nth-of-type(even) {
          background: $gray-light;
        }
      }
    }
  }
}
